# function
snippet fn
	function ${1:name}(${2}) {
		${3:// code}
	}
# inline arrow
snippet ia
	(${1}) => ${2}
# block arrow
snippet ba
	(${1}) => {
		${2}
	}
# console log
snippet cl
	console.log(${1})
# create element
snippet ce
	document.createElement(${1})
# get element by id
snippet eid
	document.getElementById(${1})
# add event listener
snippet el
	.addEventListener(${1}, ${2})
# request animation frame
snippet af
	requestAnimationFrame(${1})
